<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"crossorigin="anonymous"/>
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="icon" href="../assets/icons/favicon.ico" type="image/x-icon" />
</head>
<body>
  <footer>
    <div class="container">
      <div class="wrapper">
        <div class="footer-widget">
          <a href="home.html">
            <img src="../assets/icons/Logo branca.svg" alt="Logo" class="logo" />
          </a>
          <p class="desc">
            Conectando pessoas e empresas com tecnologia e confiança.
          </p>
          <ul class="socials">
          <li>
            <a href="https://www.instagram.com/telecallbr/">
              <img src="../assets/icons/Instagram.svg" alt="Instagram" class="social-icon" />
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/TelecallBr/?locale=pt_BR">
              <img src="../assets/icons/Facebook.svg" alt="Facebook" class="social-icon" />
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/telecall/">
              <img src="../assets/icons/Linkedin.svg" alt="Linkedin" class="social-icon" />
            </a>
          </li>
         </ul>
        </div>
        <div class="footer-widget">
          <h6 class="widget-title">Links Rápidos</h6>
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Quem somos</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Planos</a></li>
            <li><a href="#">Contato</a></li>
          </ul>
        </div>
        <div class="footer-widget">
          <h6 class="widget-title">Institucional</h6>
          <ul class="links">
            <li><a href="#">Central de Suporte</a></li>
            <li><a href="#">Carreiras</a></li>
            <li><a href="#">Parcerias</a></li>
            <li><a href="#">Política de Privacidade</a></li>
          </ul>
        </div>
      </div>
      <div class="copyright-wrapper">
        <p class="copyright-text">
          &copy; 2025 
          <a href="https://www.telecall.com" class="terms-link">Telecall</a>
          Todos os direitos reservados.
        </p>
      </div>
    </div>
  </footer>


  <script src="../js/footer.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ZGjU5Pc2xhkiZ5aINRG5G1gFpXkK8RlA8UqIDg83eZ4AMz8w/63GgmG9fX5Bw+2z" crossorigin="anonymous"></script>

</body>
</html>